{% extends "blog/base.html" %}

{% block content %}
	{% if form.errors %}
		<p>Ваше имя пользователя и пароль не найдены. Пожалуйста, попробуйте еще раз.</p>
	{% endif %}

	<form method="post" action="{% url 'login' %}">
	{% csrf_token %}
	
		<table>
		<tr>
			<td>{{ form.username.label_tag }}</td>
			<td>{{ form.username }}</td>
		</tr>
		<tr>
			<td>{{ form.password.label_tag }}</td>
			<td>{{ form.password }}</td>
		</tr>
		</table>

		<input type="submit" value="login" />
		<input type="hidden" name="next" value="{{ next }}" />
	</form>
{% endblock %}