{% extends "blog/base.html" %}

{% block title %}Create an account{% endblock %}

{% block content %}
    <h1>Создание аккаунта</h1>
    <p>Пожалуйста, зарегистрируйтесь, используя следующую форму:</p>
    <form action="." method="post" enctype="multipart/form-data">
        {{ user_form.as_p }}
        {{ new_profile.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Create my account"></p>
    </form>
{% endblock %}