{% extends 'blog/base.html' %}

{% block content %}
	{% if user.is_authenticated %}
	<h1>Новый комментарий</h1>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Отправить на модерацию</button>
    </form>
	{% else %}
	<h1>Пожалуйста, войдите в систему</h1>
	{% endif %}
{% endblock %}