{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
			<div class="date">
				{{ post.published_date }}
			</div>
		{% else %}
			<a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">Опубликовать</a>
		{% endif %}
		{% if user.is_authenticated %}
			 <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
			 <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
		{% endif %}
        <h1>{{ post.title }}</h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
    <p>Категория : {{ post.category }}</p>
	<hr>
	<a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">Добавить комментарий</a>
	{% for comment in post.comments.all %}
		{% if user.is_authenticated or comment.approved_comment %}
		<div class="comment">
			<div class="date">
				{{ comment.created_date }}
				{% if not comment.approved_comment %}
					<a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
					<a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
				{% endif %}
			</div>
			<strong>{{ comment.author }}</strong>
			<p>{{ comment.text|linebreaks }}</p>
		</div>
		{% endif %}
	{% empty %}
		<p>На данный момент комментариев нет :(</p>
	{% endfor %}
{% endblock %}

