{% extends 'blog/base.html' %}
 
{% block content %}
	<form action="" method = "get" >
		Поиск: {{ form.category }}
		<input type ="submit" value = "search"/>
		<br>
	</form>
    {% for post in posts %}
        <div class="post">
            <div class="date">
                {{ post.published_date }}
            </div>
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
            <p>Категория : {{ post.category }}</p>
            <a href="{% url 'post_detail' pk=post.pk %}">Комментариев: {{ post.approved_comments.count }}</a>
            
        </div>
    {% endfor %}
{% endblock content %}